<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href=" {{ request.static_url('exchange:static/home.css') }}"/>
    <title>Exchange</title>
</head>
<body>

<div>
    {% if  view.logged_in == None %}
        <a href="{{ request.application_url }}/login">Log In</a>
    {% endif %}
    {% if view.logged_in != None %}
        <a href="{{ request.application_url }}/user">Dashboard</a> |
        <a href="{{ request.application_url }}/logout">Logout</a>
    {% endif %}
</div>

<h1>BTC / EUR Exchange</h1>

<div id="home_orders">

    <div class="user_orders" id="sell_orders">
        <table>
            <caption id="table_name">Sell orders</caption>
            <tr>
                <th>Amount (BTC)</th>
                <th>Price (EUR)</th>
                <th>Total (EUR)</th>
            </tr>
            {% for order in sell_orders %}
                <tr id="data">
                    <td>{{ order.total }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.total * order.price }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="user_orders" id="buy_orders">
        <table>
            <caption id="table_name">Buy orders</caption>
            <tr>
                <th>Amount (BTC)</th>
                <th>Price (EUR)</th>
                <th>Total (EUR)</th>
            </tr>
            {% for order in buy_orders %}
                <tr id="data">
                    <td>{{ order.total }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.total * order.price }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>

</body>
</html>