<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href=" {{ request.static_url('exchange:static/home.css') }}"/>
    <title>Exchange</title>
</head>
<body>

<div id="user_data">
    Welcome {{ user_data.username }} |
    {% if view.logged_in != None %}
        <a href="{{ request.application_url }}/"> Home</a> |
        <a href="{{ request.application_url }}/logout"> Logout</a>
    {% endif %}
</div>

<p>
<div id="user_balance">Balance EUR: {{ balance_eur }} BTC: {{ balance_btc }} | DB_EUR: {{ user_data.eur }} DB_BTC {{ user_data.btc }}</div>
</p>

{% if view.message != '' %}
    <p><b>{{ message }}</b></p>
{% endif %}

<div id="buy_sell_wrapper">

    <div id="buy_form">
        <b>BUY order</b>
        <form action="{{ url }}" method="post">
            <div class="form_label"><label for="buy_price">Price</label></div>
            <input type="number" step="0.0001" min="0.01" id="buy_price"
                   name="buy_price"
                   value="{{ buy_price }}"/><br/>
            <div class="form_label"><label for="buy_amount">Amount</label></div>
            <input type="number" step="0.0001" min="0.01" id="buy_amount"
                   name="buy_amount"
                   value="{{ buy_amount }}"/><br/>
            <input id="button" type="submit" name="buy_form.submitted"
                   value="Buy"/>
        </form>
    </div>

    <div id="sell_form">
        <b>SELL order</b>
        <form action="{{ url }}" method="post">
            <div class="form_label"><label for="sell_price">Price</label></div>
            <input type="number" step="0.0001" min="0.01" id="sell_price"
                   name="sell_price"
                   value="{{ sell_price }}"/>
            <br/>
            <div class="form_label"><label for="sell_amount">Amount</label></div>
            <input type="number" step="0.0001" min="0.01" id="sell_amount"
                   name="sell_amount"
                   value="{{ sell_amount }}"/>
            <br/>
            <input id="button" type="submit" name="sell_form.submitted"
                   value="Sell"/>
        </form>
    </div>

</div>

<div class="user_orders">
    <table>
        <caption id="table_name">My orders</caption>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Price (EUR)</th>
            <th>Amount (BTC)</th>
        </tr>
        {% for user_order in user_orders %}
            <tr id="data">
                <td>{{ user_order.id }}</td>
                {% if user_order.type == 0 %}
                    <td>BUY</td>
                {% else %}
                    <td>SELL</td>
                {% endif %}
                <td>{{ user_order.price }}</td>
                <td>{{ user_order.amount }}</td>
                <td id="remove"><a href="{{ request.application_url }}/delete/{{ user_order.id }}"> remove</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

</div>

</body>
</html>