body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#buy_form, #sell_form  {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*#buy_form input, #sell_form input {*/
    /*margin-top: 12px;*/
    /*margin-bottom: 12px;*/
/*}*/

.user_orders {
    border-collapse: collapse;
}

.user_orders td, .user_orders th {
    border: 1px solid #ddd;
    padding: 8px;
}

.user_orders tr:nth-child(even){background-color: #f2f2f2;}

.user_orders tr:hover {background-color: #ddd;}

.user_orders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

#remove {
    background-color: white;
    border: none;
}

#remove a {
    text-decoration: none;
    color: black;
}

#home_orders {
    display: -webkit-flex;
    display: flex;
}

#sell_orders {
    order: 1;
    margin-right: 30px;
}

#buy_orders {
    order: 2;
}