body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#buy_sell_wrapper {
    display: -webkit-flex;
    display: flex;
}

#buy_form, #sell_form, #login_form  {
    margin-top: 20px;
    margin-bottom: 20px;
}

#buy_form {
    order: 1;
    margin-right: 30px;
}

#sell_form {
    order: 2;
    margin-right: 30px;
}

#message_board {
    margin-top: 20px;
    order: 3;
}

.user_orders {
    border-collapse: collapse;
    display: -webkit-flex;
    display: flex;
}

.user_orders td, .user_orders th {
    border: 1px solid #ddd;
    padding: 8px;
}

.user_orders tr:nth-child(even){background-color: #f2f2f2;}

.user_orders tr#data:hover {background-color: #ddd;}

.user_orders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

#remove {
    background-color: white;
    border: none;
}

#remove a {
    text-decoration: none;
    color: black;
}

#home_orders {
    display: -webkit-flex;
    display: flex;
}

#sell_orders {
    order: 2;
    margin-right: 30px;
}

#buy_orders {
    order: 3;
}

#table_name {
    font-size: 20px;
}

.form_label {
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 2px;
}

#button  {
    margin-top: 5px;
}

#my_trades {
    oder: 1;
    margin-right: 30px;
}